<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <title>Document</title> 
</head>
<body>
    <main class="container">
      <nav aria-label="breadcrumb">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a th:href="@{/create}">추가하기</a></li>
        </ul>
      </nav>

      <div class="container" th:each="product : ${productList}" style="width:500px; height:500px;">
        <article>
          <header>[[ ${product.productName} ]]</header>
          <div style="width:250; height:250px;">
	          <th:block th:each="file : ${fileList}" th:if="${file.productId == product.id}">
	          	<img th:src="${file.src}" style="width: 100%; height:100%;">
	          </th:block>
          </div>
          <footer>[[ ${product.quantity} ]]</footer>
        </article>
      </div>

    </main>

</body>
</html>